{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
<header class="site-header outer {{#if @blog.cover_image}}" style="background-image: url({{@blog.cover_image}}){{else}}no-cover{{/if}}">
    <div class="inner">
       {{> "site-nav"}}
    </div>
</header>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer" role="main">
  <div class="static-page-content">
    <div class="text-container">
        <h1 class="site-title">
            <img class="site-logo" src="{{@blog.logo}}" alt="{{@blog.title}}" />
        </h1>
        <h1>{{@blog.description}}</h1>
        <p>&nbsp;</p>
        <div class="site-static-content videoWrapper">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/nAMRFDs9iOs?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <p>&nbsp;</p>
        <h1>Introducting Spacemesh</h1>
        <h2>Blockmesh OS</h2>
        <p>Spacemesh is a blockmesh operating system designed to run general-purpose smart contracts at web-scale.  It is powered by a novel consensus protocol that is secure, proof of work free and highly incentive-compatible.</p>
        <p>Spacemesh is designed to create a highly-decentralized p2p blockchain computer formed by individuals from around the globe running Spacemesh on their desktop PCs at home.</p>
        <p>Spacemesh is as a free open source software that aims to become a core Internet protocol for blockchain computation.</p>

        <a class="btn btn-lg btn-info" href="https://github.com/spacemeshos/go-spacemesh" target="_blank">GITHUB</a>
        &nbsp;&nbsp;
        <a class="btn btn-lg btn-info" href="https://gitter.im/spacemesh-os/Lobby" target="_blank">GITTER</a>
      </div>

        <div class="post-feed">
            {{#foreach posts}}

                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}

            {{/foreach}}
        </div>

        {{!-- Email subscribe form at the bottom of the page --}}
        {{#if @labs.subscribers}}
        <section class="subscribe-form">
            <h3 class="subscribe-form-title">{{t "Subscribe to {blogtitle}" blogtitle=@blog.title}}</h3>
            <p>{{t "Get the latest posts delivered right to your inbox"}}</p>
            {{subscribe_form placeholder=(t "youremail@example.com")}}
        </section>
        {{/if}}
    </div>
</main>
